<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
     
              <h2 class="page_title">About</h2> 
     
              <div class="page_content"> 
              
              <blockquote>
              Mobix is about creating your next mobile project
              </blockquote>
              
              <img src="images/page_photo.jpg" alt="" title="" />
              
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
			  
	
              
              <h3>Top features</h3>   
              <ul class="features_list">
                  <li><a href="photos.html"><img src="images/icons/black/photos.png" alt="" title="" /><span>Photo gallery</span></a></li>
                  <li><a href="blog.html"><img src="images/icons/black/blog.png" alt="" title="" /><span>Blog layout</span></a></li>
                  <li><a href="tabs.html"><img src="images/icons/black/responsive.png" alt="" title="" /><span>Responsive tabs</span></a></li>
                  <li><a href="toogle.html"><img src="images/icons/black/toogle.png" alt="" title="" /><span>Toogles</span></a></li>
                  <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/black/user.png" alt="" title="" /><span>User login</span></a></li>
                  <li><a href="contact.html"><img src="images/icons/black/contact.png" alt="" title="" /><span>Contact form</span></a></li>
                  <li><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/black/heart.png" alt="" title="" /><span>Social share</span></a></li>
                  <li><a href="#" data-panel="right" class="open-panel"><img src="images/icons/black/phone.png" alt="" title="" /><span>Right slide panel</span></a></li>
              </ul>
              
              <a href="features.html" class="button_full">View all features</a>

              <h3>You can use Mobix for:</h3>
              <ul class="simple_list">
              <li>Creating a mobile website</li>
              <li>Creating a mobile web app</li>
              <li>Creating a mobile native app (integrated with solutions like phonegap)</li>
              </ul>

              
              
              </div>
      
      </div>
      
      
    </div>
  </div>
</div>