<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button">
       <a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a>
       <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/search.png" alt="" title="" /></a>
       <a href="blog.html"><img src="images/icons/white/back.png" alt="" title="" /></a>
       </div>
     </div>
     <div id="pages_maincontent">
      
 
          <div class="post_single">
            <div class="blog_nav">
            <a href="blog-single.html" class="prev_post"><img src="images/prev.png" alt="" title="" /></a>
            <a href="#" class="next_post disabled"><img src="images/next.png" alt="" title="" /></a>
            </div>
            <div class="featured_image">
              <img src="images/post_photo.jpg" alt="" title="" />
              <div class="post_title_single"><h2>Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</h2></div>
              <div class="post_author">
              <a href="#" data-panel="left" class="open-panel"><img src="images/author.jpg" alt="" title="" /></a>              
              </div> 
              <div class="post_social">
              <a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a>              
              </div> 
            </div>
                 
            <div class="page_content"> 
              <div class="entry">
              <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.   </p>
              <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
              <ul class="simple_list">
              <li>perspiciatis unde omnis</li>
              <li>voluptatem accusantium</li>
              <li>doloremque laudantium</li>
              </ul>
              <blockquote>
              Design is not just what it looks like and feels like.
              </blockquote>
              </div>
            </div>
            
          </div>
          
          
          <div class="page_content"> 
          
          <div class="buttons-row">
                <a href="#tab3" class="tab-link active button">Leave a comment</a>
                <a href="#tab4" class="tab-link button">Comments</a>
          </div>
          
          <div class="tabs-animated-wrap">
                <div class="tabs">
                      <div id="tab3" class="tab active">
                            <div class="commentform">
                            <form id="CommentForm" method="post" action="">
                            <label>Name:</label>
                            <input type="text" name="CommentName" id="CommentName" value="" class="form_input" />
                            <label>Email:</label>
                            <input type="text" name="CommentEmail" id="CommentEmail" value="" class="form_input" />
                            <label>Comment:</label>
                            <textarea name="Comment" id="Comment" class="form_textarea" rows="" cols=""></textarea>
                            <input type="submit" name="submit" class="form_submit" id="submit" value="Submit" />
                            </form>
                            </div>
                      </div>

                      <div id="tab4" class="tab">
                            <ul class="comments">
                                <li class="comment_row">
                                    <div class="comm_avatar"><img src="images/icons/black/user.png" alt="" title="" border="0" /></div>
                                    <div class="comm_content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit sapien, eleifend in by <a href="#">John Doe</a></p></div>
                                </li>
                                <li class="comment_row">
                                    <div class="comm_avatar"><img src="images/icons/black/user.png" alt="" title="" border="0" /></div>
                                    <div class="comm_content"><p>Consectetur adipiscing elit. Nam velit sapien, eleifend in by <a href="#">John Doe</a></p></div>
                                </li>
                                <li class="comment_row">
                                    <div class="comm_avatar"><img src="images/icons/black/user.png" alt="" title="" border="0" /></div>
                                    <div class="comm_content"><p>Nam velit sapien, eleifend in by <a href="#">John Doe</a></p></div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                      </div> 
                </div>
          </div>
      
         </div>
         
         
    </div>
  </div>
</div>