<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button">
       <a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a>
       <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/search.png" alt="" title="" /></a>
       </div>
     </div>
     <div id="pages_maincontent">
      
      <h2 class="page_title">latest news</h2>
      
       <div class="page_content"> 
      
            <div class="list-block">
              <ul class="posts">
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                            <span class="day">23</span>
                            <span class="month">march</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Design is not just what it looks like and feels like.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li>  
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                            <span class="day">17</span>
                            <span class="month">march</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Fashion fades, only style remains the same.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li> 
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                             <span class="day">09</span>
                            <span class="month">march</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Sed ut perspiciatis unde omnis iste accusantium.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li> 		
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                            <span class="day">18</span>
                            <span class="month">feb</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Nemo enim ipsam voluptatem quia voluptas.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li>  
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                            <span class="day">07</span>
                            <span class="month">feb</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li> 
                <li class="swipeout">
                  <div class="swipeout-content item-content">
                    <div class="post_entry">
                        <div class="post_date">
                            <span class="day">23</span>
                            <span class="month">jan</span>
                        </div>
                        <div class="post_title">
                        <h2><a href="blog-single.html">Design is not just what it looks like and feels like.</a></h2>
                        </div>
                        <div class="post_swipe"><img src="images/swipe_more.png" alt="" title="" /></div>
                    </div>
                  </div>
                  <div class="swipeout-actions-right">
                    <a href="blog-single.html" class="action1"><img src="images/icons/white/message.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/like.png" alt="" title="" /></a>
		 <a href="#" class="action1 open-popup" data-popup=".popup-social"><img src="images/icons/white/contact.png" alt="" title="" /></a>
                  </div>
                </li> 		  
			  

              </ul>
              
            <div class="clear"></div>  
            <div id="loadMore"><img src="images/load_posts.png" alt="" title="" /></div> 
            <div id="showLess"><img src="images/load_posts_disabled.png" alt="" title="" /></div> 
            </div>
      
      </div>
      
      </div>
      
      
    </div>
  </div>
</div>