<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     
     <div id="pages_maincontent">
      
      <h2 class="page_title">Features list</h2>
      
      <div class="page_content">
      
      <ul class="features_list_detailed">
      
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/photos.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Photo gallery</h4>
          <a href="photos.html">Easy create your own photo gallery app. List and full screen options available.</a>
          </div>
          <div class="view_more"><a href="photos.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li> 
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/blog.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Blog layout</h4>
          <a href="blog.html">Create your news app with blog and comments section.</a>
          </div>
          <div class="view_more"><a href="blog.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li> 
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/user.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>User login</h4>
          <a href="#" data-popup=".popup-login" class="open-popup">Add a login form to your app to control your private content.</a>
          </div>
          <div class="view_more"><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/lock.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>User account</h4>
          <a href="#" data-panel="left" class="open-panel">Create an user account page with profile image and custom menu.</a>
          </div>
          <div class="view_more"><a href="#" data-panel="left" class="open-panel"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
                
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/docs.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Responsive tabs</h4>
          <a href="tabs.html">Add responsive tabs to any page or section in your app.</a>
          </div>
          <div class="view_more"><a href="tabs.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/toogle.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Toogles</h4>
          <a href="toogle.html">Add content with toogles will save a lot of space in your app layout.</a>
          </div>
          <div class="view_more"><a href="toogle.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/tables.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Tables</h4>
          <a href="tables.html">Create a table section for your services and price plans.</a>
          </div>
          <div class="view_more"><a href="tables.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/slider.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Images slider</h4>
          <a href="slider.html">Create an image slider from your photos.</a>
          </div>
          <div class="view_more"><a href="slider.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/contact.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Contact form</h4>
          <a href="contact.html">Receive messages from your clients using the allready build in contact form.</a>
          </div>
          <div class="view_more"><a href="contact.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/form.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Custom form inputs</h4>
          <a href="form.html">Build custom forms with inputs, selects, radio, checkboxes.</a>
          </div>
          <div class="view_more"><a href="form.html"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/heart.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Social share</h4>
          <a href="#" data-popup=".popup-social" class="open-popup">Allow users to follow you on your social websites.</a>
          </div>
          <div class="view_more"><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/responsive.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Right slide panel</h4>
          <a href="#" data-panel="right" class="open-panel">Option to add a right slide panel with menu or other content.</a>
          </div>
          <div class="view_more"><a href="#" data-panel="right" class="open-panel"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/icons/black/download.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>External links</h4>
          <a href="http://google.com" class="external">To add an external link just use class="external" to the link code.</a>
          </div>
          <div class="view_more"><a href="http://google.com" class="external"><img src="images/load_posts_disabled.png" alt="" title="" /></a></div>
          </li>
          
      </ul>
      
      
      </div>
      
      </div>
      
      
    </div>
  </div>
</div>