<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
     
              <h2 class="page_title">Custom form inputs</h2> 
     
              <div class="page_content"> 

                <div class="contactform">
                <form>
                
                <label>Name:</label>
                <input type="text" name="name" value="" class="form_input" />
                
                <label>Email:</label>
                <input type="text" name="email" value="" class="form_input" />
                
                <label>Select:</label>
			<div class="selector_overlay form_input">
				<select class="cs-select cs-skin-overlay selectoptions">
					<option value="" disabled="disabled" selected>select options</option>
					<option value="1">select one</option>
					<option value="2">select two</option>
					<option value="3">select three</option>
					<option value="4">select four</option>
					<option value="5">select five</option>
				</select>
			</div>	
			
                <label>Autocomplete (type "a")</label>
		<input type="text" placeholder="type for example letter a" class="form_input" id="autocomplete-dropdown">
                
                <label>Radio:</label>
                
                  <label class="label-radio item-content">
                    <!-- Checked by default -->
                    <input type="radio" name="my-radio" value="Books" checked="checked">
                    <div class="item-inner">
                      <div class="item-title">Books</div>
                    </div>
                  </label>
                  
                  <label class="label-radio item-content">
                    <!-- Checked by default -->
                    <input type="radio" name="my-radio" value="Movies">
                    <div class="item-inner">
                      <div class="item-title">Movies</div>
                    </div>
                  </label>

                <label>Checkbox:</label>
                
                  <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input type="checkbox" name="my-checkbox" value="Books" checked="checked">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Books</div>
                    </div>
                  </label>

                  <label class="label-checkbox item-content">
                    <input type="checkbox" name="my-checkbox" value="Movies">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Movies</div>
                    </div>
                  </label>
                  
                  <label>Switch:</label>
                             
                  <div class="item-content">
                   
                    <div class="item-inner">
                      <div class="item-title">Enable Option</div>
                      <div class="item-input">
                        <label class="label-switch">
                          <input type="checkbox">
                          <div class="checkbox"></div>
                        </label>
                      </div>
                    </div>
                  </div>

                <label>Message:</label>
                <textarea name="message" class="form_textarea" rows="" cols=""></textarea>
                <input type="submit" name="submit" class="form_submit" id="submit" value="Send" />
                </form>
                </div>

              
              
              </div>
      
      </div>
      
      
    </div>
  </div>
</div>