<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
     
              <h2 class="page_title">Images Slider</h2> 
     
              <div class="page_content"> 
              
              <div class="swiper-container swiper-init" data-effect="slide" data-direction="horizontal" data-pagination=".swiper-pagination"  data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev" data-pagination-clickable="true">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="images/page_photo.jpg" alt="" title="" /></div>
                  <div class="swiper-slide"><img src="images/page_photo.jpg" alt="" title="" /></div>
                  <div class="swiper-slide"><img src="images/page_photo.jpg" alt="" title="" /></div>
                  <div class="swiper-slide"><img src="images/page_photo.jpg" alt="" title="" /></div>
                  <div class="swiper-slide"><img src="images/page_photo.jpg" alt="" title="" /></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>

              
              
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
              


              
              
              </div>
      
      </div>
      
      
    </div>
  </div>
</div>