<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
          <h2 class="page_title">Animated tabs</h2>
          
          
          <div class="page_content">
          
              <div class="buttons-row">
                    <a href="#tab1" class="tab-link active button">Tab one</a>
                    <a href="#tab2" class="tab-link button">Tab two</a>
              </div>
              
              <div class="tabs-animated-wrap">
                    <div class="tabs">
                          <div id="tab1" class="tab active">
                                <h4>Tab one content</h4>
                                <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                          </div>
    
                          <div id="tab2" class="tab">
                                <h4>Tab two content</h4>
                                <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                          </div> 
                    </div>
              </div>
          

          
          
          
          <h2 class="page_subtitle">Simple tabs</h2>
          
          

          
              <div class="buttons-row">
                    <a href="#tab3" class="tab-link active button">Tab 1</a>
                    <a href="#tab4" class="tab-link button">Tab 2</a>
                    <a href="#tab5" class="tab-link button">Tab 3</a>
              </div>
              
              <div class="tabs-simple">
                    <div class="tabs">
                          <div id="tab3" class="tab active">
                                <h4>Tab one content</h4>
                                <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                          </div>
    
                          <div id="tab4" class="tab">
                                <h4>Tab two content</h4>
                                <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                          </div> 
                          
                          <div id="tab5" class="tab">
                                <h4>Tab three content</h4>
                                <p>
                               Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                          </div>
                    </div>
              </div>
          
          </div>     
          
          
          
      
      </div>
      
      
    </div>
  </div>
</div>