<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
          <h2 class="page_title">Toogle elements</h2>
          
              <div class="page_content">

                        <div class="custom-accordion">
                        
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Toogle element one</span>
                            </div>
                            <div class="accordion-item-content">
                                            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Toogle element two</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Toogle element three</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>   
                          

                        </div>  



              
              
          <h2 class="page_subtitle">Accordion elements</h2>
          


                        <div class="custom-accordion accordion-list">
                        
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Accordion element one</span>
                            </div>
                            <div class="accordion-item-content">
                                            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Accordion element two</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Accordion element three</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
                            </div>
                          </div>   
                          

                        </div>  


              </div> <!--end of page single-->  
              
              
              
              
      
      </div>
      
      
    </div>
  </div>
</div>