<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.php"><img src="images/logo.png" alt="" title="" /></a></div>
       <div class="nav_right_button"><a href="menu.php"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
          <h2 class="page_title">Responsive videos</h2>
          
              <div class="page_content">
                    <h3>Working at Envato</h3>
                    <div class="videocontainer">
                    <iframe width="100%" height="180" src="http://www.youtube.com/embed/nrJtHemSPW4" frameborder="0"></iframe>
                    </div>
                    <h3>Envato Stories</h3>
                    <div class="videocontainer">
                    <iframe width="100%" height="180" src="http://www.youtube.com/embed/mdfMT5Zi8Eo" frameborder="0"></iframe>
                    </div>
              </div>
      
      </div>
      
      
    </div>
  </div>
</div>